
{% extends "base.html" %}

{% block title %}
{{event.activity}}
{% endblock %}

{% block main %}


    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">{{event.activity}} at {{ event.location }}<br>
            <small>on  {{ event.start_at }} </small>
      </h1>

      <!-- Portfolio Item Row -->

        <div class="col-md-8">

          <img class="img-fluid rounded" src="{{event.image}}" alt="">

        </div>

        	
          <!-- <img class="img-fluid" src={{event.image}} alt=""> -->

        <div class="col-md-4">
          	<h3 class="my-3">Description</h3>
          <p>{{event.description}}</p>
          <h3 class="my-3">Details</h3>
          <ul>
            <li>Posted on {{event.created_at}} by {{event.owner}}</li>
            <li>Location: {{event.location}}</li>
            <li>Time: {{event.start_at}}</li>
          </ul>
            <h2> 5 going</h2>
        </div>

      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark navbar navbar-fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Yammago 2025</p>
      </div>
      <!-- /.container -->
    </footer>



{% endblock %}
