{% extends "base.html" %}
{% block title %}
Events
{% endblock %}
{% block main %}

{% if latest_event_list %}
<div class="">

    <div class='container'>

        <div class='col-md-6'>
            <ul>
            {% for event in latest_event_list %}
                <li><a href="{% url 'detail' event.id %}">{{ event.activity }} on {{ event.start_at }} at {{ event.location }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class='col-md-6'>
            more stuff
        </div>
    </div>
</div>
{% else %}
    <p>No events are available.</p>
{% endif %}

{% endblock %}
