<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- if we weren't compiling client side this would be at end of body -->
    <title>Yammago | {% block title %} {% endblock %}</title>
  </head>
  <body>
    {% include 'nav.html' %}
    {% block main %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>
