<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>Eventually you can put stuff here</li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">Log In</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
